body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef !important;
}

.main {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1.MuiTypography-h1 {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 10px;
}

.MuiTypography-caption {
  color: #66676e;
}

.underline:hover {
  text-decoration: underline;
}

th.MuiTableCell-head {
  font-weight: 600;
}

/* Home carousel styling */
.carousel-arrow {
  top: 0 !important;
  height: 100% !important;
  padding: 0 20px !important;
  color: #676767 !important;
}
.carousel-arrow svg {
  width: 1.5em;
  height: 1.5em;
}
.carousel-prev svg {
  margin-left: 0.7em;
}
.carousel-arrow:hover {
  color: #000 !important;
}

.carousel-dots li {
  margin: 0 !important;
}
