body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main {
  margin-top: 4vh;
}

.main-cart {
  background: #f1f1f1;
  min-height: 50vh;
}
@media screen and (max-width: 600px) {
  .main-cart {
    padding: 0 8px !important;
  }
}

h1.MuiTypography-h1 {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 10px;
}

.MuiTypography-caption {
  color: #66676e;
}

.underline:hover {
  text-decoration: underline;
}

th.MuiTableCell-head {
  font-weight: 600;
}
